.app {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.moviesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 80%;
}

.loading {
  font-size: 24px;
  color: #333;
  margin-top: 50px;
}
